@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap");

$color1: #f8cd5a;
$color2: #364c86;
$color3: #d7d0bd;
$color4: #b3514e;
$color5: #61a363;
$color6: #ffffff;

@mixin flex {
  display: flex;

  align-items: center;
  flex-direction: column;
}

html {
  background-color: $color3;
  color: $color2;
  font-family: "Playwrite FR Moderne", cursive;
}

body {
  @include flex;
}

.mainbody {
  @include flex;
  background-image: url(../images/v602-nunoon-05-rippednotes.jpg);
  background-size: contain;
  box-shadow: 5px 5px 5px $color5;
  padding: 5vw;
  margin-top: 5vh;
  height: 100dvh;
}

header {
  @include flex;

  h1 {
    @include flex;
    background-color: $color4;
    border-radius: 10px;

    color: $color6;

    font-size: 3rem;
    width: 100%;

    margin: 2vh;
    padding: 1vh;
  }
}

main {
  @include flex;
}

.lettershow {
  @include flex;
  justify-content: center;
  font-size: 2em;
  background-color: $color3;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 5px solid $color5;
}

button,
input[type="submit"] {
  font-family: "Playwrite FR Moderne", cursive;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: $color6;
  background: $color1;
  line-height: 1.15;
  font-size: 16px;
  &:hover {
    transition: all 0.1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px $color2;
  }
}

input[type="text"] {
  font-family: "Playwrite FR Moderne", cursive;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: $color2;
  background: $color6;
  line-height: 1.15;
  font-size: 16px;
  border: 1px solid $color2;
}

#hangman {
  width: 512px;
}

section {
  margin-bottom: 2vh;
}

.score {
  color: $color4;
}

#guessword {
  display: flex;
  flex-direction: row;
  p {
    margin-right: 5px;
  }
}

#game {
  @include flex;
}
